@mixin radius($radius) {
  border-radius: $radius;
}

@mixin font-opacity {
  opacity: 0.8;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin shadow {
  box-shadow: -2px -1px 13px 4px rgba(138, 10, 10, 0.88);
}
